.navs a {
  color: blue;
  margin-left: 15px;
  margin-top: 5px;
}

.products input{
  background-color: aquamarine;
  margin-top: 20px;
}

.productsn{
  margin-top: 10px;
  
}
.product a{
  color: red;
  margin-left: 10px;
  padding: 10px 10px;
}